<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mcy.mtravel">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.GuideActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.WebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TripsNoteActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.UserInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.StrategyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TipsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TipsDetialActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TipsTripsListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TripsDetialActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TravelListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TravelDetialActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TravelDetialItemActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.SpecialActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TravelPlaceTripsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.TravelPlacePicturesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.ShowPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransThems">
        </activity>
        <activity
            android:name=".view.activity.MapActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.SpecialDetialActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>